<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xrp.projectmanagementbackend.mapper.ProjectmanagerMapper">

    <resultMap id="BaseResultMap" type="cn.xrp.projectmanagementbackend.model.Projectmanager">
            <id property="managerID" column="ManagerID" jdbcType="INTEGER"/>
            <result property="managerName" column="ManagerName" jdbcType="VARCHAR"/>
            <result property="age" column="Age" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        ManagerID,ManagerName,Age,
    </sql>
    <select id="getTotalBudgetByManagerID" statementType="CALLABLE" resultType="decimal">
        {CALL GetTotalBudgetByManagerID(#{ManagerID, mode=IN, jdbcType=INTEGER})}
    </select>
</mapper>
